@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mon-violet1: hsl(257, 40%, 49%);
    --mon-violet2: hsl(300, 69%, 71%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    color: #fff;
    background: hsl(257, 40%, 49%) url('./images/bg-desktop.svg') center center/cover;
}
header img {
    margin: 30px;
    height: 50px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}
.hero .hero-image img {
    width: 100%;
    height: auto;
}
.hero .hero-text {
    flex: 1;
    margin-top: 0.5rem;
}
.hero .hero-text h1 {
    font-size: clamp(1.7rem, 4vw, 3rem);
    margin-bottom: 1.5rem;
}
.hero .hero-text p {
    font-size: clamp(0.7rem, 1.5vw, 1.27rem);
    margin-bottom: 1.5rem;
}
.btn {
    border: none;
    background: white;
    color: var(--mon-violet1);
    padding: 0.75rem 2.5rem;
    border-radius: 20px;
    font-size: 1rem;
    box-shadow: 1px 2px 8px rgb(66, 0, 66);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background: var(--mon-violet2);
    color: white;
}
.logos {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-right: 2rem;
  padding: 20px;
}

.logos i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%; /* Crée le cercle */
  color: white; /* Couleur de l'icône */
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logos i:hover {
    color: rgb(217, 8, 217);
    border-color: rgb(217, 8, 217);
}
@media (max-width: 768px) {
    body {
    font-family: 'Poppins';
    color: #fff;
    background: hsl(257, 40%, 49%) url('./images/bg-mobile.svg') center center/cover;
}
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logos {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}
}

